<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <!-- Add links here and center-justify them
    <div class="centered-justified-links">
      <a href="/Art">Art</a>
      <a href="/Bibliography">Bib</a>
      <a href="/Recipe">Recipe</a>
      <a href="/Contact">Contact</a>
    </div> -->

    <div class="footer-col-wrapper">
      <!-- Add a horizontal line -->
      <!-- <hr> -->
      <div style="padding-top: 5px; padding-bottom: 5px;">
      </div>
      <!-- Center-align the site title -->
      <!-- <h2 class="footer-heading" style="text-align: center;">{{ site.title | escape }}</h2> -->

      <!-- Center-align the site description -->
      <p style="text-align: center;">{{- site.description | escape -}}</p>
      <p style="text-align: center;">&copy; 2024 Trax.Fitness</p>

      <!-- Add the link after the copyright with a smaller font size -->
      <p style="text-align: center; font-size: smaller;"><a href="/Privacy-Policy">Privacy Policy</a></p>
    </div>
  </div>
</footer>
